<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order App</title>
    <link rel="stylesheet" href="../styles/homePage.css">
</head>
<body>
    <div id="mainbody">

        <div id="header">
            <h4>Mr.Tomato & Ms.Lettuce</h4>
        </div>

        <div id="entrance">
            <div>
                <h2>Order, Savor, Repeat – Deliciousness Delivered!</h2>

                <a href="/orderingsection">
                    <button id="order-Button"> Order Now!</button>    
                </a>
                
            </div>
            <div>
                <img id="MrMs" src="../media/Pictures/download__1_-removebg-preview.png" alt="">
            </div>
        </div>
    </div> 

  
</body>
</html>